@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-image: linear-gradient(90deg, #7d5fff, #7158e2);
}

.prev-proj {
  position: fixed;
  top: 20px;
  left: 20px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  color: lightgray;
  cursor: pointer;
}
.next-proj {
  position: fixed;
  top: 20px;
  right: 20px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  color: lightgray;
  cursor: pointer;
}

.prev-proj:hover,
.next-proj:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

h1 {
  color: white;
}

.container {
  position: relative;
  width: 50px;
  transition: 0.3s;
}

input {
  background-color: transparent;
  border: none;
  border-radius: 0;
  box-shadow: none;
  height: 50px;
  width: 50px;
  font-size: 18px;
  padding: 15px;
  transition: width 0.3s;
}

input:focus {
  outline: none;
}

button {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  background-color: white;
  border: none;
  transition: 0.3s;
  cursor: pointer;
}

.icon {
  font-size: 30px;
  font-weight: bold;
  color: black;
}

.container.active {
  width: 250px;
}

.container.active input {
  width: 200px;
  background-color: white;
}

.container.active button {
  left: 200px;
}

button:hover {
  background-color: lightgray;
  /* transform: scale(1.1); */
}

button:active {
  transform: scale(0.9);
}

.delay {
  transition: width 0.3s, background-color 0s 0.3s;
}
